.justify {
  text-align: justify;
  width: 100%;
}

.project-title {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 22pt;
  margin-top: 0;
  text-align: left;
}

.content-title {
  font-family: 'Sacramento', cursive;
  font-weight: normal;
  font-size: 20pt;
  margin: 0;
}
