<div *ngIf="project; else loading" fxLayout="column" fxLayoutGap="20px">
  <div fxFlex>
    <h2 class="project-title">{{project.name}}</h2>
  </div>
  <div *ngFor="let contentPart of project.contentParts" fxLayout="column" fxLayoutGap="10px">
    <div>
      <h3 class="content-title">
        {{ contentPart.title }}
      </h3>
    </div>
    <div [innerHTML]="contentPart.body"></div>
    <div fxLayout="row" class="carousel-container">
    </div>
  </div>
</div>
  
<ng-template #loading>
    <app-spinner></app-spinner>
</ng-template>
