.brand-name {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 30pt;
  margin: 0;
  letter-spacing: calc(40em / 1000);
}

.author {
  font-family: 'Sacramento', cursive;
  font-weight: normal;
  margin: 0;
}

// Greater than 1280px

.brand-name-gt-md {
  font-size: 40pt;
}

.author-gt-md {
  font-size: 2em;
}
