<div fxLayout="column" fxLayoutGap="40px">

  <!-- TILTE -->
  <div fxLayout="row" fxLayoutAlign="end">
    <h1 class="title">À propos</h1>
  </div>

  <!-- WHO AM I -->
  <div fxLayout="row" fxLayoutGap="50px" fxLayoutAlign="start start" fxLayout.lt-md="column-reverse" fxLayoutGap.lt-md="30px"
    fxLayoutAlign.lt-md="space-between stretch">
    <div fxFlex.gt-sm="33%">
      <img src="http://via.placeholder.com/350x350" class="w-100" ngClass.lt-md="{'image-mobile':true}">
    </div>
    <div fxFlex.gt-sm="67%">
      <div>
        <h1>Hello,</h1>
      </div>
      <div>
        <p>
          Je m’apelle Marion Dénès, je suis une fille du soleil et de la pluie : bretonne pur souche mais fille
          du sud avec comme on dit chez nous « un grand coeur et une grande gueule » !
        </p>
        <p>
          Depuis petite j’ai eu la chance de m’initier à plusieurs pratiques artistiques et sportives et ... je suis
          dans l’obligation d’admettre que certaines furent plus concluante que d’autres (cf le tableau ci-
          dessous).
        </p>
        <p>
          <i>Tableau des pratiques avorter (poterie, danse, batterie, escalade, judo, badminton) et
            accomplises (chant, théâtre, comédie musicale, photographie). ↓</i>
        </p>
        <p>
          Aujourd’hui avec du recul, je me rend compte que toutes ces pratiques (oui oui même le judo) ont
          éveillé chez moi une sensibilité artistique, une curiosité et un besoin constant d’être stimuler
          intellectuellement.
        </p>
        <p>
          Pour ceux et celles qui en aurait déjà marre de ma vie et qui aimerait que j’en vienne au fait : voici
          mon parcours (cf : tableau de mon parcours), pour les plus téméraires d’entres vous continuons :
        </p>
        <p>
          Ma scolarité entière pourrait se résumer en deux phrases : « peu mieux faire » et « trop de
          bavardage ». J’ai été ce qu’on appelle une élève milieu de classe : pas mauvaise mais pas
          excellente. Après un bac littéraire passée avec brio (non je déconne) me voici lancé dans les
          études supérieures.
        </p>
        <p>
          J’ai débuté mon année de MANAA à l’ESMA (Montpellier) dans l’objectif d’intégrer ensuite un BTS
          design de mode afin de devenir costumière au cinéma ou au théâtre. Malheureusement ou
          heureusement pour moi (on ne le saura jamais) je suis tombée amoureuse du design graphique.
        </p>
        <p>
          L’année suivante changement d’air : j’intègre l’école Condé de Lyon en BTS design graphique.
          Ces deux années furent une véritable révélation pour moi : j’aime ce que je fais et je suis douée
          pour cela. En 2017 je passe mon Bachelor Design graphique option médias imprimés et je le
          réussi avec brio (non cette fois ci je déconne pas).
        </p>
      </div>
    </div>
  </div>

  <!-- MON PARCOURS -->
  <div fxLayout="column" fxLayoutGap="30px">
    <div fxLayout="row">
      <h1>
        Mon parcours
      </h1>
    </div>
    <!-- DESKTOP -->
    <div class="timeline" [ngClass.lt-md]="{'hidden':true}">
      <div fxFlex="25%" fxLayout="column" fxLayoutAlign="start center" *ngFor="let item of monParcours">
        <div class="verticalTimelineMarker"></div>
        <div class="timeline-description">
          <h2>{{item.date}}</h2>
          <span *ngFor="let line of item.description; let isLast=last">{{line}}<br *ngIf="!isLast"></span>
        </div>
      </div>
    </div>
    <!-- MOBILE -->
    <div [ngClass.gt-sm]="{'hidden':true}" fxLayoutAlign="center">
      <div class="timeline-mobile" fxLayout="column" fxLayoutGap="50px">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px" *ngFor="let item of monParcours">
          <div class="horizontalTimelineMarker"></div>
          <div class="timeline-description-mobile">
            <h2>{{item.date}}</h2>
            <span *ngFor="let line of item.descriptionMobile; let isLast=last">{{line}}<br *ngIf="!isLast"></span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- MES EXPERIENCES -->
  <div fxLayout="column" fxLayoutGap="30px">
    <div fxLayout="row">
      <h1>Mes expériences</h1>
    </div>
    <div fxLayout="row" fxLayoutAlign="start start" fxLayout.lt-md="column" fxLayoutAlign.lt-md="start stretch">
      <div fxLayout="column" fxLayoutGap="30px" [ngClass.gt-sm]="{'col-4':true}">
        <div>
          <img src="http://via.placeholder.com/350x350" class="w-100" [ngClass.lt-md]="{'image-mobile':true}">
        </div>
        <div>
          <div fxLayoutAlign="center">
            <h2 class="experience-title">#Service civique</h2>
          </div>
          <div>
            <p>
              Après 3 années passionnantes mais intenses, je décide en septembre 2017 de m’engager de
              manière concrète en réalisant une année de service civique. Je choisis d’effectuer ma mission à
              l’AFEV (association ayant pour but de lutter contre les inégalités dans les quartiers populaires).
            </p>
            <p>
              Durant cette année j’ai beaucoup appris sur le plan humain en accompagnant des enfants en
              fragilité dans leurs parcours. J’ai eu l’opportunité d’effectuer des actions de sensibilisation et de
              mobilisation ainsi que des missions plus proche de mon domaine de prédilection.
            </p>
          </div>
        </div>
      </div>
      <div fxLayout="column" fxLayoutGap="30px" [ngClass.gt-sm]="{'col-4':true}" fxLayout.gt-sm="column-reverse"
        fxFlexAlign="end">
        <div>
          <img src="http://via.placeholder.com/350x350" class="w-100" [ngClass.lt-md]="{'image-mobile':true}">
        </div>
        <div>
          <div fxLayoutAlign="center">
            <h2 class="experience-title">#Stage chez Bon Caillou</h2>
          </div>
          <p>
            J’ai eu la chance d’effectué mon stage de mi-parcours avec le directeur artistique : Didier Mazellier
            (alias Bon Caillou) au sein de l’atelier « Noir Cambouis ». Durant mon stage j’ai pu m’initer aux
            différentes techniques d’impressions artisanales (letterpress, linogravure). C’était un stage
            passionnant qui a marqué un tournant dans ma manière d’appréhender le design graphique.
          </p>
        </div>
      </div>
      <div fxLayout="column" fxLayoutGap="30px" [ngClass.gt-sm]="{'col-4':true}">
        <div>
          <img src="http://via.placeholder.com/350x350" class="w-100" [ngClass.lt-md]="{'image-mobile':true}">
        </div>
        <div>
          <div fxLayoutAlign="center">
            <h2 class="experience-title">#Année de césure canadienne</h2>
          </div>
          <p><b>TODO</b></p>
        </div>
      </div>
    </div>
  </div>

  <!-- MES COMPETENCES -->
  <div fxLayout="column" fxLayoutGap="30px">
    <div fxLayout="row">
      <h1>
        Mes compétences
      </h1>
    </div>

  <!-- DESKTOP -->
  <div [ngClass.lt-md]="{'hidden':true}" fxLayout="column" fxLayoutGap="20px">
      <div fxLayout="row">
        <div fxFlex="25%" fxLayoutAlign="center center" *ngFor="let item of mesCompetences">
          <img src="assets/{{item.pictoName}}">
        </div>
      </div>
      <div class="timeline">
        <div fxFlex="25%" fxLayout="column" fxLayoutAlign="start center" *ngFor="let item of mesCompetences">
          <div class="verticalTimelineMarker"></div>
          <div class="timeline-description">
            <span>{{ item.title }}</span>
          </div>
        </div>
      </div>
    </div>

  <!-- MOBILE -->
  <div fxLayout="row" fxLayoutAlign="center" [ngClass.gt-sm]="{'hidden':true}">
      <div fxLayout="column" fxLayoutGap="50px">
        <div fxFlex="25%" *ngFor="let item of mesCompetences">
          <img src="assets/{{item.pictoName}}">
        </div>
      </div>
      <div class="timeline-mobile competences-timeline-mobile"></div>
      <div fxLayout="column" fxLayoutGap="50px">
        <div fxFlex="25%" fxLayoutAlign="start center" fxLayoutGap="20px" *ngFor="let item of mesCompetences">
          <div class="horizontalTimelineMarker"></div>
          <div>
            <span>{{item.title}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
