.title {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 22pt;
  margin-top: 0;
  margin-bottom: 0;
  text-align: left;
}

.timeline {
  border-top: 1px solid black;
}

.verticalTimelineMarker {
  border-left: 1px solid black;
  height: 20px;
}

.timeline-description {
  text-align: center;

  h2 {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: 500;
    font-style: italic;
    font-size: 18pt;
  }
}

.hidden {
  display: none !important;
}

.timeline-mobile {
  border-left: 1px solid black;
}

.horizontalTimelineMarker {
  border-top: 1px solid black;
  width: 20px;
}

.timeline-description-mobile {
  h2 {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: 500;
    font-style: italic;
    font-size: 18pt;
  }
}

.experience-title {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 500;
  font-style: italic;
  font-size: 18pt;
}

.competences-timeline-mobile {
  margin-left: 15px;
}

.image-mobile {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
