<!-- <div fxFlex fxLayoutAlign="center">
  <p>
    Page "À propos" en cours de développement...
  </p>
</div> -->
<div fxLayout="column" fxLayoutGap="40px">
  
  <!-- TILTE -->
  <div fxLayout="row" fxLayoutAlign="end">
    <h1 class="title">À propos</h1>
  </div>

  <!-- WHO AM I -->
  <div fxLayout="row" fxLayoutGap="50px" fxLayoutAlign="start start"
    fxLayout.lt-md="column-reverse" fxLayoutGap.lt-md="30px" fxLayoutAlign.lt-md="start stretch">
    <div fxFlex.gt-sm="33%">
      <img src="http://via.placeholder.com/350x350" class="w-100" [ngClass.lt-md]="{'image-mobile':true}">
    </div>
    <div fxFlex="100%" fxFlex.gt-sm="67%" fxLayout="column">
      <div fxLayout="row" fxLayoutAlign.lt-md="center">
        <h1>Qui suis-je ?</h1>
      </div>
      <div>
        <p>
          Qae est inter natos et parentes, quae dirimi nisi detestabili scelere non potest; deinde cum similis sensus exstitit amoris, si aliquem nacti sumus cuius cum moribus et natura congruamus, quod in eo quasi lumen aliquod probitatis et virtutis perspicere videamur. Quod quidem quale sit, etiam in bestiis quibusdam animadverti potest, quae ex se natos ita amant ad quoddam tempus et ab eis ita amantur ut facile earum sensus appareat. Quod in homine multo est evidentius, primum ex ea caritate quae est inter natos et parentes.
        </p>
        <p>
          Non ergo erunt homines deliciis diffluentes audiendi, si quando de amicitia, quam nec usu nec ratione habent cognitam, disputabunt. Nam quis est, pro deorum fidem atque hominum! qui velit, ut neque diligat quemquam nec ipse ab ullo diligatur, circumfluere omnibus copiis atque in omnium rerum abundantia vivere? Haec enim est tyrannorum vita nimirum, in qua nulla fides, nulla caritas, nulla stabilis benevolentiae potest esse fiducia, omnia semper suspecta atque sollicita, nullus locus amicitiae.
        </p>
        <p>
          Si aliquem nacti sumus cuius cum moribus et natura congruamus, quod in eo quasi lumen aliquod probitatis et virtutis perspicere videamur. Quod quidem quale sit, etiam in bestiis quibusdam animadverti potest. Quod cum ita sit, paucae domus studiorum seriis cultibus antea celebratae nunc ludibriis ignaviae torpentis exundant, vocali sonu, perflabili tinnitu fidium resultantes.
        </p>
      </div>
    </div>
  </div>

  <!-- MON PARCOURS -->
  <div fxLayout="column" fxLayoutGap="30px">
    <div fxLayout="row" fxLayoutAlign.lt-md="center">
      <h1>
        Mon parcours
      </h1>
    </div>
    <!-- DESKTOP -->
    <div class="timeline" [ngClass.lt-md]="{'hidden':true}">
      <div fxFlex="25%" fxLayout="column" fxLayoutAlign="start center"
        *ngFor="let item of monParcours">
        <div class="verticalTimelineMarker"></div>
        <div class="timeline-description">
          <h2>{{item.date}}</h2>
          <span *ngFor="let line of item.description; let isLast=last">{{line}}<br *ngIf="!isLast"></span>
        </div>
      </div>
    </div>
    <!-- MOBILE -->
    <div [ngClass.gt-sm]="{'hidden':true}" fxLayoutAlign="center">
      <div class="timeline-mobile" fxLayout="column" fxLayoutGap="50px">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px"
          *ngFor="let item of monParcours">
          <div class="horizontalTimelineMarker"></div>
          <div class="timeline-description-mobile">
            <h2>{{item.date}}</h2>
            <span *ngFor="let line of item.descriptionMobile; let isLast=last">{{line}}<br *ngIf="!isLast"></span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- MES EXPERIENCES -->
  <div fxLayout="column" fxLayoutGap="30px">
    <div fxLayout="row" fxLayoutAlign.lt-md="center">
      <h1>Mes expériences</h1>
    </div>
    <div fxLayout="row" fxLayoutGap="40px" fxLayout.lt-md="column">
      <div fxFlex.lt-md="100%" fxLayoutGap="30px" fxLayout="column">
        <div>
          <img src="http://via.placeholder.com/350x350" class="w-100" [ngClass.lt-md]="{'image-mobile':true}">
        </div>
        <div>
          <div fxLayoutAlign="center">
            <h2 class="experience-title">#Service civique</h2>
          </div>
          <p>Qae est inter natos et parentes, quae dirimi nisi detestabili scelere non potest; deinde cum similis sensus exstitit amoris, si aliquem nacti sumus cuius cum moribus et natura.</p>
          <p>In eo quasi lumen aliquod probitatis et virtutis perspicere videamur. Quod quidem quale sit, etiam in bestiis quibusdam animadverti potest, quae ex se natos ita amant ad quoddam tempus et ab eis ita amantur ut.primum ex ea caritate</p>
        </div>
      </div>
      <div fxFlex.lt-md="100%" fxLayoutGap="30px" fxLayout="column" fxLayout.gt-sm="column-reverse">
        <div>
          <img src="http://via.placeholder.com/350x350" class="w-100" [ngClass.lt-md]="{'image-mobile':true}">
        </div>
        <div>
          <div fxLayoutAlign="center">
            <h2 class="experience-title">#Stage chez Bon Caillou</h2>
          </div>
          <p>Qae est inter natos et parentes, quae dirimi nisi detestabili scelere non potest; deinde cum similis sensus exstitit amoris, si aliquem nacti sumus cuius cum moribus et natura.</p>
          <p>In eo quasi lumen aliquod probitatis et virtutis perspicere videamur. Quod quidem quale sit, etiam in bestiis quibusdam animadverti potest, quae ex se natos ita amant ad quoddam tempus et ab eis ita amantur ut.primum ex ea caritate</p>
        </div>
      </div>
      <div fxFlex.lt-md="100%" fxLayoutGap="30px" fxLayout="column">
        <div>
          <img src="http://via.placeholder.com/350x350" class="w-100" [ngClass.lt-md]="{'image-mobile':true}">
        </div>
        <div>
          <div fxLayoutAlign="center">
            <h2 class="experience-title">#Animatrice</h2>
          </div>
          <p>Qae est inter natos et parentes, quae dirimi nisi detestabili scelere non potest; deinde cum similis sensus exstitit amoris, si aliquem nacti sumus cuius cum moribus et natura.</p>
          <p>In eo quasi lumen aliquod probitatis et virtutis perspicere videamur. Quod quidem quale sit, etiam in bestiis quibusdam animadverti potest, quae ex se natos ita amant ad quoddam tempus et ab eis ita amantur ut.primum ex ea caritate</p>
        </div>
      </div>
    </div>
  </div>

    <!-- MES COMPETENCES -->
  <div fxLayout="column" fxLayoutGap="30px">
    <div fxLayout="row" fxLayoutAlign.lt-md="center">
      <h1>
        Mes compétences
      </h1>
    </div>

    <!-- DESKTOP -->
    <div [ngClass.lt-md]="{'hidden':true}" fxLayout="column" fxLayoutGap="20px">
      <div fxLayout="row">
        <div fxFlex="25%" fxLayoutAlign="center center"
          *ngFor="let item of mesCompetences">
          <img src="assets/{{item.pictoName}}">
        </div>
      </div>
      <div class="timeline">
        <div fxFlex="25%" fxLayout="column" fxLayoutAlign="start center"
          *ngFor="let item of mesCompetences">
          <div class="verticalTimelineMarker"></div>
          <div class="timeline-description">
            <span>{{ item.title }}</span>
          </div>
        </div>
      </div>
    </div>
    
    <!-- MOBILE -->
    <div fxLayout="row" fxLayoutAlign="center" [ngClass.gt-sm]="{'hidden':true}">
      <div fxLayout="column" fxLayoutGap="50px">
        <div fxFlex="25%" fxLayoutAlign="center center"
          *ngFor="let item of mesCompetences">
          <img src="assets/{{item.pictoName}}">
        </div>
      </div>
      <div class="timeline-mobile competences-timeline-mobile"></div>
      <div fxLayout="column" fxLayoutGap="50px">
        <div fxFlex="25%" fxLayoutAlign="start center" fxLayoutGap="20px"
          *ngFor="let item of mesCompetences">
          <div class="horizontalTimelineMarker"></div>
          <div>
            <span>{{item.title}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
