.timeline {
  border-top: 1px solid black;
}

.verticalTimelineMarker {
  border-left: 1px solid black;
  height: 20px;
}

.timelineDescription {
  text-align: center;
}

.experiencesTitle {
  border: 1px solid black;
  height: 200px;
  text-align: center;
}

.experiencesTitle > h1 {
  margin-bottom: 0;
}
