<div fxLayout="column" fxLayoutGap="30px">
  <div fxLayout="row" fxLayoutGap="50px" fxLayoutAlign="start center">
    <div fxFlex="33%" fxLayout="column" fxLayoutGap="30px">
      <img width="100%" src="http://via.placeholder.com/400x400">
      <img width="100%" src="http://via.placeholder.com/400x400">
    </div>
    <div fxFlex="67%">
      <h1 class="wow fadeInRight">Qui suis-je ?</h1>
      <p>
        Qae est inter natos et parentes, quae dirimi nisi detestabili scelere non potest; deinde cum similis sensus exstitit amoris, si aliquem nacti sumus cuius cum moribus et natura congruamus, quod in eo quasi lumen aliquod probitatis et virtutis perspicere videamur. Quod quidem quale sit, etiam in bestiis quibusdam animadverti potest, quae ex se natos ita amant ad quoddam tempus et ab eis ita amantur ut facile earum sensus appareat. Quod in homine multo est evidentius, primum ex ea caritate quae est inter natos et parentes.
      </p>
      <p>
        Non ergo erunt homines deliciis diffluentes audiendi, si quando de amicitia, quam nec usu nec ratione habent cognitam, disputabunt. Nam quis est, pro deorum fidem atque hominum! qui velit, ut neque diligat quemquam nec ipse ab ullo diligatur, circumfluere omnibus copiis atque in omnium rerum abundantia vivere? Haec enim est tyrannorum vita nimirum, in qua nulla fides, nulla caritas, nulla stabilis benevolentiae potest esse fiducia, omnia semper suspecta atque sollicita, nullus locus amicitiae.
      </p>
      <p>
        Si aliquem nacti sumus cuius cum moribus et natura congruamus, quod in eo quasi lumen aliquod probitatis et virtutis perspicere videamur. Quod quidem quale sit, etiam in bestiis quibusdam animadverti potest. Quod cum ita sit, paucae domus studiorum seriis cultibus antea celebratae nunc ludibriis ignaviae torpentis exundant, vocali sonu, perflabili tinnitu fidium resultantes.
      </p>
    </div>
  </div>
  <div>
    <h1 class="wow fadeInRight">
      Ma formation
    </h1>
    <div class="timeline">
      <div fxFlex="25%" fxLayout="column" fxLayoutAlign="start center">
        <div class="verticalTimelineMarker"></div>
        <div class="timelineDescription">
          <h2>2007-2011</h2>
          Brevet des collèges<br>
          Classe audio visuelle
        </div>
      </div>
      <div fxFlex="25%" fxLayout="column" fxLayoutAlign="start center">
        <div class="verticalTimelineMarker"></div>
        <div class="timelineDescription">
          <h2>2011-2014</h2>
          BAC série L, anglais renforcé, option théâtre
        </div>
      </div>
      <div fxFlex="25%" fxLayout="column" fxLayoutAlign="start center">
        <div class="verticalTimelineMarker"></div>
        <div class="timelineDescription">
          <h2>2014-2015</h2>
          MANAA (Mise à niveau en art appliquée)
        </div>
      </div>
      <div fxFlex="25%" fxLayout="column" fxLayoutAlign="start center">
        <div class="verticalTimelineMarker"></div>
        <div class="timelineDescription">
          <h2>2015-2017</h2>
          Bts design graphique<br>
          Option médias imprimés
        </div>
      </div>
    </div>
  </div>
  <div>
    <h1 class="wow fadeInRight">
      Mes compétences
    </h1>
    <div class="timeline">
      <div fxFlex="25%" fxLayout="column" fxLayoutAlign="start center">
        <div class="verticalTimelineMarker"></div>
        <div class="timelineDescription">
          Photographie
        </div>
      </div>
      <div fxFlex="25%" fxLayout="column" fxLayoutAlign="start center">
        <div class="verticalTimelineMarker"></div>
        <div class="timelineDescription">
          PAO
        </div>
      </div>
      <div fxFlex="25%" fxLayout="column" fxLayoutAlign="start center">
        <div class="verticalTimelineMarker"></div>
        <div class="timelineDescription">
          Impression artisanale
        </div>
      </div>
      <div fxFlex="25%" fxLayout="column" fxLayoutAlign="start center">
        <div class="verticalTimelineMarker"></div>
        <div class="timelineDescription">
          Animation
        </div>
      </div>
    </div>
  </div>
</div>
