.project-container {
  align-items: flex-end;
}

.project-item {
  width: 100%;
}

.link {
  cursor: pointer;
}

.project-title {
  margin-bottom: 30px;
}

.project-name {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  width: 100%;
  margin: 0;
}

.hashtag {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  font-style: italic;
  margin: 0;
}

.main-picture {
  width: 100%;
  padding-top: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.spinner {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: #333;

  border-radius: 100%;  
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}
