<div id="mobile-menu" fxShow fxHide.gt-xs="true">
  <ul>
    <li>
      <a routerLink="/about-me">A propos</a>
    </li>
    <li>
      <a routerLink="/projects">Mes projets</a>
    </li>
    <li>
      <a routerLink="/contact">Contact</a>
    </li>
  </ul>
</div>
<div class="standard-menu" fxHide fxShow.gt-xs="true" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
  <div>
    <a routerLink="/about-me" routerLinkActive="active">À PROPOS</a>
  </div>
  <div>
    <a routerLink="/projects" routerLinkActive="active">MES PROJETS</a>
  </div>
  <div>
    <a routerLink="/contact" routerLinkActive="active">CONTACT</a>
  </div>
</div>

