.standard-menu {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 10pt;
  font-style: italic;
  margin-top: 25px;
}

.mobile-menu {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-style: italic;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #FFFFFF;
  opacity: 0.9;
}

a {
  text-decoration: none;
  color: black;
}
a:hover, .active {
  font-weight: 600;
  text-decoration: none;
}
