.main-container {
  width: 100%;
  height: 100%;
  padding-left: 75px;
  padding-right: 75px;
  padding-bottom: 75px;
  padding-top: 50px;
}

.max-width {
  max-width: 2000px;
}

.mobile-container {
  padding: 30px !important;
}

header {
  margin-bottom: 30px;
}

footer {
  margin-top: 30px;
}
