.main-container {
  width: 100%;
  height: 100%;
  padding: 75px;
}

.max-width {
  max-width: 1400px;
}

.mobile-container {
  padding: 30px !important;
}

header {
  margin-bottom: 30px;
}

footer {
  margin-top: 30px;
}
