.project-container {
  align-items: flex-end;
}

.project-item {
  width: 100%;
}

.link {
  cursor: pointer;
}

.project-title {
  margin-bottom: 10px;
}

.project-name {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 8pt;
  font-weight: 300;
  width: 100%;
  margin: 0;
}

.hashtag {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  font-style: italic;
}

.main-picture {
  width: 100%;
}

// Greater than 960px

.project-name-gt-sm {
  font-size: 10pt;
}
