@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:500i,600i,700i|Roboto+Condensed:300,300i|Sacramento');

body {
  font-family: 'Roboto Condense', sans-serif;
  font-weight: 300;
  margin: 0;
}
