<form (ngSubmit)="addProject()" [formGroup]="projectForm">
  <div fxLayoutAlign="center center">
    <div class="form-container">
      <div fxLayout="column" fxLayoutGap="10px">
        <h2 class="title">Nouveau projet</h2>
        <h3 class="sub-title">Informations principales</h3>
        <input type="text" placeholder="Nom du projet" formControlName="name">
        <input type="text" placeholder="URL de l'illustration principale" formControlName="mainPictureURL">
        <input type="text" placeholder="Tags (séparé par une virgule)" formControlName="tags">
        <textarea placeholder="Description du projet" formControlName="description" rows= "10"></textarea>
        <div formArrayName="picCats" fxLayout="column" fxLayoutGap="30px">
          <div *ngFor="let picCat of picCats.controls; let i = index" [formGroupName]="i" fxLayout="column" fxLayoutGap="5px">
            <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
              <button type="button" (click)="removePicCat(i)">-</button>
              <h3 class="sub-title">Categorie d'illustration {{ i + 1 }}</h3>
            </div>
            <input type="text" formControlName="name" placeholder="Nom de la categorie">
            <div fxLayout="row">
              <div fxFlex="10%"></div>
              <div fxFlex formArrayName="picUrls" fxLayout="column" fxLayoutGap="5px">
                <div *ngFor="let picCat of getPicUrls(i).controls; let j = index" [formGroupName]="j" fxLayout="column" fxLayoutGap="5px">
                  <div fxLayout="row" fxLayoutGap="10px">
                    <button type="button" (click)="removePicUrl(i, j)">-</button>
                    <label>Illustration {{ j + 1 }}</label>
                  </div>
                  <input fxFlex type="text" formControlName="picUrl" placeholder="URL de l'illustration {{ j + 1 }}">
                </div>
                <div fxLayout="row" fxLayoutAlign="end">
                  <div fxFlex></div>
                  <button type="button" (click)="addPicUrl(i)">+</button>
                </div>
              </div>
            </div>
          </div>
          <button type="button" (click)="addPicCat()">AJOUTER UNE CATEGORIE D'ILLUSTRATION</button>
        </div>
        <div fxLayoutAlign="center">
          <button fxFlex="120px" type="submit" [disabled]="!projectForm.valid">Envoyer</button>
        </div>
      </div>
    </div>
  </div>
</form>
